#!/bin/sh

# This file runs when a DM logs you into a graphical session.


setbg &     # Wallpaper changer script

sxhkd &     # Simple X hotkey daemon for setting up keybinds

#mpd &       # Music player daemon 

xsetroot -cursor_name left_ptr &   # Change cursor from default x shape

xset r rate 400 50 &	# Speed xrate up

#xrdb .Xresources &       

(sleep 1s && picom --experimental-backends --inactive-opacity 1.00  --opacity-rule "80:class_g = 'rofi'" --blur-background-exclude n:a:slop -cCGfF -o 0.70 -O 0.028 -I 0.028 -t 0 -l 0 -r 7 -D2 -m 1.00) &	# transparency

dunst &                                # notification daemon

unclutter &       # hide mouse pointer when idle

nm-applet &        # networkmanager applet/wifi,ethernet settings

/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

sleep 2s && zathura ~/.local/share/Magyarch-i3.pdf &
